body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: #efefef;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userimages {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: 3px solid rgb(0, 174, 255);
  padding: 2px;
  margin: 10px;
}
.userimages:hover {
  transform: scale(1.3, 1.3);
  transition-duration: 0.5s;
}

.home {
  width: 600px;
  height: 80vh;

  background-color: white;
}
.users {
  display: flex;
  padding: 10px;
  border: solid 2px red;
  border-radius: 15px;
  margin: 10px;
}
.users:hover {
  transform: scale(1.1, 1.1);
  transition-duration: 0.5s;
}
.lbutton {
  width: 130px;
  height: 30px;
  cursor: pointer;
  background-color: lime;
  font-size: larger;
  padding: 2px;
  border-radius: 20px;
  margin-top: 20px;
  border: none;
}
.lhome button {
  width: 130px;
  height: 40px;
  cursor: pointer;
  background-color: lime;
  font-size: larger;
  padding: 2px;
  border-radius: 10px;
  margin-top: 20px;
  border: none;
}
.lhome button:hover {
  transition-duration: 0.5s;
  background-color: transparent;
  color: black;
  border: 2px solid black;
}

.lbutton:hover {
  transition-duration: 0.5s;
  background-color: black;
  color: lime;
}
.lhome {
  width: 600px;
  padding-bottom: 120px;
}
.lhome h1 {
  margin: 5px;
}
.lhome h1:hover {
  text-decoration: underline;
  color: blue;
  transition-duration: 0.5s;
}
.lhome h6 {
  margin-left: 8px;
}
.lhome h2 {
  margin-left: 10px;
}

.users .lhead {
  margin-left: 20px;
}
.post .h1 {
  margin-left: 170px;
  margin-top: 160px;
}
.post .lbutton {
  margin-top: 15px;
  cursor: pointer;
  margin-left: 200px;
  border: lime 2px solid;
  color: black;
}
.post .lbutton:hover {
  background-color: lime;
  color: #000;
  border: #000 2px solid;
}
.login {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
  width: 500px;
  height: 70vh;
  border-radius: 50px;
  padding-top: 10px;
  padding-left: 20px;
  background-color: white;
}
.lpage {
  width: 600px;
  height: 80vh;
  padding-top: 30px;
  margin-left: 120px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.login input {
  margin-top: 40px;
  color: black;
  border: lime solid 3px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  height: 50px;
  font-size: x-large;
}
.login .name input {
  width: 400px;
}
.login .password .pass {
  position: absolute;
  width: 400px;
}
.login .password #checkbox {
  width: 20px;
  margin-left: 370px;
  position: relative;
  border-color: #000;
}
.login input:focus {
  transition-duration: 1s;
  border: rgb(1, 124, 112) 3px solid;

  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  font-size: x-large;
}

.login button {
  margin-left: 70px;
  cursor: pointer;
  height: 50px;
  width: 250px;
  background-color: lime;
  border-radius: 10px;
  font-size: x-large;
  font-weight: bold;
  margin-top: 60px;
}
.login button:hover {
  transition-duration: 0.5s;
  background-color: #fff;
  color: black;
  font-size: x-large;
  font-weight: bold;
  border: #000 solid 2px;
}
.login h6 {
  margin-top: 30px;
  margin-left: 130px;
  color: red;
  font-weight: lighter;
}
.post {
  width: 600px;
  height: 80vh;

  margin-left: 140px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.Header {
  font-family: cursive;
  letter-spacing: 10px;
  margin-left: 300px;
  font-size: x-large;
  font-weight: lighter;
  color: crimson;
  padding-top: 40px;
  margin-bottom: 10px;
}
.Footer {
  border-top: solid 2px black;
  width: 49%;
  background-color: white;
  padding-left: 320px;
  padding-top: 15px;
  margin-top: -40px;
  position: fixed;
  bottom: 0;
  z-index: 5;
  margin-left: 30px;
}
.Footer h3 {
  margin-bottom: 10px;
}
.Footer p {
  margin-left: 10px;
  margin-bottom: 20px;
}
.display {
  width: 620px;
  height: 80vh;
  padding-top: 30px;
  margin-left: 120px;
  background-color: white;
}
.display .fcont img {
  height: 120px;
  width: 120px;
  border-radius: 50px;
  border: 3px solid lime;
  padding: 4px;
  margin: 10px;
}
.display .fcont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.display button {
  width: 130px;
  cursor: pointer;
  height: 40px;
  background-color: lime;
  font-size: larger;
  padding: 2px;
  border-radius: 5px;
  margin-left: 110px;
  margin-top: 50px;
  border: none;
}
.display .btn1 {
  width: 130px;
  cursor: pointer;
  height: 40px;
  background-color: transparent;
  font-size: larger;
  padding: 2px;
  border-radius: 5px;
  margin-top: 20px;
  border: 2px solid lime;
}
.btn1:hover {
  transition: 0.5s;
  background-color: lime;
}
button:hover {
  transition: 0.5s;
  background-color: transparent;
  border: 2px solid lime;
}
.display .dimage {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 170px;
}
.display .dimage img {
  width: 190px;
  height: 150px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.display .dimage img:hover {
  transform: scale(1.3, 1.3);
  transition-duration: 0.5s;
}
.delete {
  width: 600px;
  height: 80vh;
  padding-top: 30px;
  margin-left: 120px;
  background-color: white;
  text-align: center;
  padding-top: 200px;
}
.delete button {
  width: 130px;
  cursor: pointer;
  height: 40px;
  background-color: lime;
  font-size: larger;
  padding: 2px;
  border-radius: 5px;
  margin-top: 20px;
  border: 2px solid lime;
  margin-left: 20px;
}
.delete .btn1 {
  width: 130px;
  cursor: pointer;
  height: 40px;
  background-color: transparent;
  font-size: larger;
  padding: 2px;
  border-radius: 5px;
  margin-top: 20px;
  border: 2px solid lime;
  margin-left: 20px;
}
.delete .btn1:hover {
  transition: 0.5s;
  background-color: lime;
}
.delete button:hover {
  transition: 0.5s;
  background-color: transparent;
  border: 2px solid lime;
}
.update {
  width: 600px;
  height: 80vh;
  margin-left: 120px;
  background-color: white;
  text-align: center;

  display: flex;
  flex-direction: column;
}
.update input {
  margin-top: 40px;
  color: black;
  border: orange solid 3px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  height: 50px;
  font-size: x-large;
  margin-left: 40px;
}
.update textarea {
  margin-top: 40px;
  resize: none;
  color: black;
  border: orange solid 3px;
  margin-left: 40px;
  outline: none;
  font-size: x-large;
}
.update button {
  width: 130px;
  cursor: pointer;
  height: 40px;
  background-color: lime;
  font-size: larger;
  padding: 2px;
  border-radius: 5px;
  margin-top: 40px;
  border: 2px solid lime;
  margin-left: 250px;
}
.update label {
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.update input:focus {
  transition-duration: 1s;
  border: greenyellow solid 3px;

  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  font-size: x-large;
}
.update textarea:focus {
  transition-duration: 1s;
  border: greenyellow solid 3px;

  outline: none;
  font-size: x-large;
}
.input {
  width: 600px;
  height: 80vh;
  margin-left: 110px;
  background-color: white;
  text-align: center;

  display: flex;
  flex-direction: column;
}
.input textarea:focus {
  transition-duration: 1s;
  border: greenyellow solid 3px;

  outline: none;
  font-size: x-large;
}
.input input {
  margin-top: 40px;
  color: black;
  border: orange solid 3px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  height: 50px;
  font-size: x-large;
  margin-left: 40px;
}
.input textarea {
  margin-top: 40px;
  resize: none;
  color: black;
  border: orange solid 3px;
  margin-left: 40px;
  outline: none;
  font-size: x-large;
}
.input button {
  width: 130px;
  cursor: pointer;
  height: 40px;
  background-color: lime;
  font-size: larger;
  padding: 2px;
  border-radius: 5px;
  margin-top: 40px;
  border: 2px solid lime;
  margin-left: 250px;
}
.input button:hover {
  transition: 0.5s;
  background-color: transparent;
  border: 2px solid lime;
}
.update button:hover {
  transition: 0.5s;
  background-color: transparent;
  border: 2px solid lime;
}
.loader {
  width: 15px;
  aspect-ratio: 1;
  position: relative;
}
.load {
  width: 600px;
  height: 80vh;
  margin-left: 100px;
  background-color: white;
  padding-top: 200px;
  padding-left: 300px;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: #000;
}
.loader::before {
  box-shadow: -25px 0;
  animation: l8-1 1s infinite linear;
}
.loader::after {
  transform: rotate(0deg) translateX(25px);
  animation: l8-2 1s infinite linear;
}

@keyframes l8-1 {
  100% {
    transform: translateX(25px);
  }
}
@keyframes l8-2 {
  100% {
    transform: rotate(-180deg) translateX(25px);
  }
}
.nav {
  height: 60px;
  padding-top: 20px;
  position: sticky;
  top: 0;
  background-color: orangered;
  padding-left: 170px;
  margin-left: 50px;
  width: 100%;
  border-radius: 10px;
  z-index: 10;
}
.nav a {
  margin-left: 90px;
  background-color: orangered;
  color: white;
  font-weight: bolder;
  font-size: large;
}
.theme {
  width: 60px;
  height: 30px;
  margin-left: 270px;
  background-color: transparent;
  border-radius: 20px;
  border: #000 solid 2px;
  color: black;
  font-weight: 200;
  font-size: small;
  letter-spacing: 1px;
}
.theme:hover {
  color: #000;
  border: #fff solid 2px;
}
.nav a:hover {
  color: black;
}
.missing {
  width: 600px;
  height: 80vh;
  margin-left: 120px;
  background-color: white;
  padding-top: 200px;
  padding-left: 180px;
}
.missing button {
  width: 130px;
  cursor: pointer;
  height: 40px;
  background-color: lime;
  font-size: larger;
  padding: 2px;
  border-radius: 5px;
  margin-top: 40px;
  border: 2px solid lime;
}
.missing button:hover {
  transition: 0.5s;
  background-color: transparent;
  border: 2px solid lime;
}
.about {
  width: 600px;
  height: 80vh;
  margin-left: 120px;
  background-color: #fff;
  padding-top: 200px;
  padding-left: 120px;
}

@media only screen and (min-width: 992px) {
  .Header svg {
    font-size: 3rem;
  }
}
